---
Language: Cpp
BasedOnStyle: Microsoft
IndentPPDirectives: AfterHash
PPIndentWidth: 3
ColumnLimit: 100
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AlignOperands: true
PenaltyBreakAssignment: 50
BreakBeforeTernaryOperators: true
# AlignOperands: DontAlign
AlignEscapedNewlines: Left
BreakAfterAttributes: Always
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: true
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: true
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
AlwaysBreakTemplateDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
IndentAccessModifiers: false
AccessModifierOffset: -4
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
IndentExternBlock: Indent
...
