# ignore everything while retaining folder structure
*
!*/

# source files
!*.cpp
!*.hpp
!*.c
!*.h
!*.hlsl
!*.ct
!*.def
!*.l
!*.y
!*.inc

# scripts
!*.py
!*.build
!*.txt
!*.ps1
!*.sql
!*.xml
!*.bat
!*.sh
!*.yml
!*.wsb
!*.env

# config files
!*.ini
!.clang-format
!.clang-tidy
!*.natvis
!*.in

# assets
!data/*
!*.md
!*.jinja2

# dependencies
subprojects/*
!subprojects/*.wrap
!subprojects/packagefiles
!subprojects/packagefiles/**
!subprojects/oracledb-client
!subprojects/db2-client
!subprojects/.clang-tidy
adns/

!LICENSE
!README

*[bB]uild*/
