[submodule "subprojects/cthulhu"]
	path = subprojects/cthulhu
	url = https://github.com/apache-hb/cthulhu.git
	branch = master
[submodule "data/vendor/public-sans"]
	path = data/vendor/public-sans
	url = https://github.com/uswds/public-sans
	branch = develop
