[submodule "subprojects/cthulhu"]
	path = subprojects/cthulhu
	url = https://github.com/apache-hb/cthulhu.git
	branch = master
[submodule "scripts/ninjatracing"]
	path = scripts/ninjatracing
	url = https://github.com/nico/ninjatracing
