# ignore everything while retaining folder structure
*
!*/

# source files
!*.cpp
!*.hpp
!*.c
!*.h
!*.hlsl
!*.ct

# scripts
!*.py
!*.build
!*.txt

# config files
!*.ini
!.clang-format
!.clang-tidy

# assets
!data/**/*

# dependencies
subprojects/*
!subprojects/*.wrap
!subprojects/stb
!subprojects/packagefiles
!subprojects/packagefiles/**
!subprojects/.clang-tidy

*[bB]uild*/
