# ignore everything while retaining folder structure
*
!*/

# source files
!*.cpp
!*.hpp
!*.c
!*.h
!*.hlsl
!*.ct
!*.def
!*.l
!*.y
!*.inl

# scripts
!*.py
!*.build
!*.txt
!*.ps1

# config files
!*.ini
!.clang-format
!.clang-tidy
!*.natvis

# assets
!data/**/*
!*.md

# dependencies
subprojects/*
!subprojects/*.wrap
!subprojects/stb
!subprojects/dds_texture_loader
!subprojects/packagefiles
!subprojects/packagefiles/**
!subprojects/.clang-tidy

!LICENSE
!README

*[bB]uild*/
